﻿.add {
  background-image:url('images/add.png') !important;
}
.delete {
  background-image:url('images/delete.png') !important;
}
.save {
  background-image:url('images/disk.png') !important;
}
.edit {
  background-image:url('images/pencil.png') !important;
}
.cancel {
  background-image:url('images/cancel.png') !important;
}
.locked {
  background-image:url('images/locked.png') !important;
}
.adicionar {
  background-image:url('images/adicionar.png') !important;
}
.remover {
  background-image:url('images/remover.png') !important;
}
.expand {
  background-image:url('images/expand.png') !important;
}
.collapse {
  background-image:url('images/collapse.png') !important;
}
.site-add {
  background-image:url('images/site-add.png') !important;
}
.site-remove {
  background-image:url('images/site-remove-all.png') !important;
}
.refresh {
  background-image:url('images/refresh.png') !important;
}
.efetivar {
  background-image:url('images/efetivar.png') !important;
}
.provisionar {
  background-image:url('images/provisionar.png') !important;
}
.efetivar-pagamento {
  background-image:url('images/efetivar-pagamento.png') !important;
}

.cancelar-pagamento {
  background-image:url('images/cancelar-pagamento.png') !important;
}
.remove-pg {
  background-image:url('images/remove-pg.png') !important;
}
.alterar-valor {
  background-image:url('images/alterar-valor.png') !important;
}
.alterar-faturamento {
  background-image:url('images/alterar-faturamento.png') !important;
}
.alterar-data-prevista {
  background-image:url('images/alterar-data-prevista.png') !important;
}





