﻿<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>SMCompany</title>
    <!-- <x-compile> -->
    <!-- <x-bootstrap> -->
    <link href="../../Scripts/Desktop/Insigne/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/Desktop/Insigne/resources/KitchenSink-example.css" rel="stylesheet"
          type="text/css" />
    <link href="../../Scripts/Desktop/Insigne/resources/KitchenSink-all.css" rel="stylesheet"
          type="text/css" />
    <link href="../../Scripts/Desktop/Insigne/resources/crudext.css" rel="stylesheet"
          type="text/css" />
    <script src="../../Scripts/Desktop/Insigne/ext/ext-dev.js" type="text/javascript"></script>
    <script src="../../Scripts/Desktop/Insigne/bootstrap.js" type="text/javascript"></script>
    <!-- </x-bootstrap> -->
    <script src="../../Scripts/Desktop/Insigne/ext/locale/ext-lang-pt_BR.js" type="text/javascript"></script>
    <script src="../../Scripts/Desktop/Insigne/app.js" type="text/javascript"></script>
    <!-- </x-compile> -->
</head>
<body>
</body>
</html>